# Project 02 Practice 01 UART Byte Echo Test Results

## Chackpoint 1

When push a button we see same on bash.

```bash
/---------------/
/----BOOT_OK----/
ABC123
```

